## Python Tuple & Set

### Python Tuples

A <code>tuple</code> is similar to a list except that it is fixed-length and immutable. So the values in the tuple cannot be changed nor the values be added to or removed from the tuple.

In [1]:
tuple?

Init signature: tuple(iterable=(), /)
Docstring:
Built-in immutable sequence.

If no argument is given, the constructor returns an empty tuple.
If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.
Type:           type
Subclasses:     int_info, float_info, UnraisableHookArgs, hash_info, version_info, flags, getwindowsversion, thread_info, asyncgen_hooks, ExceptHookArgs, ...

In [2]:
# help(tuple)

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

Tuples may be constructed in a number of ways:
- Using a pair of parentheses to denote the empty tuple: <code>()</code>
- Using a trailing comma for a singleton tuple: <code>a,</code> or <code>(a,)</code>
- Separating items with commas: <code>a, b, c</code> or <code>(a, b, c)</code>
- Using the <code>tuple()</code> built-in: <code>tuple()</code> or <code>tuple(iterable)</code>

<b>Creating a Tuple</b>

A tuple is created by placing all the items (elements) inside parentheses <code>()</code>, separated by commas. The parentheses are optional, however, it is a good practice to use them.

A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [3]:
t1 = ()

In [4]:
type(t1)

tuple

In [5]:
t2 = tuple()

In [6]:
type(t2)

tuple

In [7]:
t3 = (2, 4, 6, 8)

In [8]:
print(t3)

(2, 4, 6, 8)

In [9]:
t4 = 3,

In [10]:
print(t4)

(3,)

In [11]:
t5 = 4, 8, 12, 14

In [12]:
print(t5)

(4, 8, 12, 14)

In [13]:
t6 = ('txt', True, 45.5)

In [14]:
print(t6)

('txt', True, 45.5)

In [15]:
t7 = ('txt', [8, 4, 6], (1, 2, 3))

In [16]:
print(t7)

('txt', [8, 4, 6], (1, 2, 3))

In [17]:
a, b, c = t7   # tuple unpacking is also possible

In [18]:
print(a)
print(b)
print(c)

txt
[8, 4, 6]
(1, 2, 3)

In [19]:
t8 = tuple('xyz')

In [20]:
print(t8)

('x', 'y', 'z')

In [21]:
t9 = tuple(range(1, 6))

In [22]:
print(t9)

(1, 2, 3, 4, 5)

One of the main differences between <b>lists</b> and <b>tuples</b> in Python is that tuples are immutable, that is, one cannot add or modify items once the tuple is initialized. For example:

In [23]:
t = (3, 6, 10)

In [24]:
# t[0] = 5  # TypeError: 'tuple' object does not support item assignment

In [25]:
t1, t2, t3 = (5, 10, 15)

In [26]:
first, *more, last = (1, 2, 3, 4, 5)

In [27]:
first

1

In [28]:
more

[2, 3, 4]

In [29]:
last

5

<b>Access Tuple Elements</b>

There are various ways in which we can access the elements of a tuple.

<b>Indexing</b>

We can use the index operator <code>[]</code> to access an item in a tuple, where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an index outside of the tuple index range(6,7,... in this example) will raise an <code>IndexError</code>.

The index must be an integer, so we cannot use float or other types. This will result in <code>TypeError</code>.

In [30]:
x = (5, 7, 10)

In [31]:
print(x[0])
print(x[1])
print(x[2])

5
7
10

In [32]:
# print(x[3])    # IndexError: tuple index out of range

In [33]:
# print(x[2.5])  # TypeError: tuple indices must be integers or slices, not float

<b>Negative Indexing</b>

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [34]:
x

(5, 7, 10)

In [35]:
print(x[-1])
print(x[-2])
print(x[-3])

10
7
5

In [36]:
# print(x[-4])   # IndexError: tuple index out of range

<b>Slicing</b>

We can access a range of items in a tuple by using the slicing operator colon <code>:</code>.

In [37]:
x

(5, 7, 10)

In [38]:
x[1:]

(7, 10)

In [39]:
x[:2]

(5, 7)

In [40]:
x[:]

(5, 7, 10)

In [41]:
x[:-1]

(5, 7)

In [42]:
x[::-1]

(10, 7, 5)

In [43]:
y = tuple(reversed(x))

In [44]:
y

(10, 7, 5)

<b>Changing a Tuple</b>

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once they have been assigned. But, if the element is itself a mutable data type like list, its nested items can be changed.

In [45]:
x = (4, 2, 3, [6, 5])

In [46]:
x[3][0] = 10

print(x)

(4, 2, 3, [10, 5])

We can use <code>+</code> operator to combine two tuples. This is called <b>concatenation</b>.

We can also <b>repeat</b> the elements in a tuple for a given number of times using the <code>*</code> operator.

Both <code>+</code> and <code>*</code> operations result in a new tuple.

In [47]:
x = (1, 2, 3) + (4, 5, 6)

In [48]:
x

(1, 2, 3, 4, 5, 6)

In [49]:
y = ("Python",) * 3

In [50]:
y

('Python', 'Python', 'Python')

<b>Deleting a Tuple</b>

Deleting a tuple entirely, however, is possible using the keyword <code>del</code>.

In [51]:
x = (1, 3, 6)

In [52]:
del x

In [53]:
# x   # NameError: name 'x' is not defined

<b>Tuple Methods</b>

Methods that add items or remove items are not available with tuple. Only the following two methods are available.

In [54]:
x = (2, 6, 7, 6, 10)

In [55]:
x.count(6)

2

In [56]:
x.index(10)

4

<b>Tuple Membership Test</b>

We can test if an item exists in a tuple or not, using the keyword <code>in</code>.

In [57]:
x = ('Python', 'JS', 'Ruby')

In [58]:
'Java' in x

False

In [59]:
'Python' not in x

False

In [60]:
'JS' in x

True

<b>Iterating Through a Tuple</b>

We can use a <code>for</code> loop to iterate through each item in a tuple.

In [61]:
for value in ('Python', 'JS', 'Ruby'):
    print(value)

Python
JS
Ruby

<b>Built-in Tuple Functions</b>

In [62]:
x = (3, 6, 10, 4, 5)

In [63]:
max(x)

10

In [64]:
min(x)

3

In [65]:
len(x)

5

In [66]:
list(x)

[3, 6, 10, 4, 5]

In [67]:
set(x)

{3, 4, 5, 6, 10}

<b>Advantages of Tuple over List</b>

Since tuples are quite similar to lists, both of them are used in similar situations. However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

- We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
- Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
- Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
- If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

### Python Sets

Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the <code>set()</code> function can be used to create sets. Note: to create an empty set you have to use <code>set()</code>, not <code>{}</code>; the latter creates an empty dictionary.

Python Sets Link: https://docs.python.org/3/tutorial/datastructures.html#sets

@mrizwanse

## Happy Learning 😊